img#portrait {
  display: flex;
  margin: auto;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.18rem;
  border-color: #cf4900;
}

div.hero-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 15rem;
}

div.hero-link-container a {
  display: none;
  margin: auto 0;
}

div.hero-link-container:hover {
  flex-direction: column;
}

div.hero-link-container:hover a {
  display: flex;
}

div.contact-container {
  display: inline-flex;
  justify-content: left;
}

div.contact-container span {
  height: 1.75rem;
  margin: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 1.75rem;
}