img#portrait {
  display: flex;
  margin: auto;
  object-fit: none;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: black;
}

div.hero-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 10rem;
}

div.hero a {
  position: relative;
  display: block;
  height: 1.75rem;
  width: 1.75rem;
  margin: 0.1rem;
  padding: 0.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 1.75rem;
}

div.hero span {
  display: none;
}

div.hero a {
  float: right;
}
