div.hero span.linked-in-link {
  background-image: url("../../../img/linkedin-logo.png");
  width: 1.75rem;
  left: -1.0rem;
}

div.hero span.github-link {
  background-image: url("../../../img/GitHub-Mark-64px.png");
  width: 1.75rem;
  left: -1.0rem;
}

div.hero span.email-link {
  background-image: url("../../../img/baseline_email_black_18dp.png");
  width: 2.0rem;
  left: -1.0rem;
}
